@using TrueMoney.Common.Extensions
@model TrueMoney.Models.VisaPaymentViewModel
@{
    ViewBag.Title = "Платёж завершён";
}

<h2>@ViewBag.Title</h2>
<hr />

<p>Оплата успешно завершена!</p>
<p>Вы перевели <b>@Model.PaymentCount.Format()</b> р. заемщику <b>@Model.DealOwnerName</b> в контексте заявки <b>№ @Model.DealId</b></p>

<a href="@Url.Action("Details", "Deal", new {id = Model.DealId})" class="btn btn-primary btn-with-icon">
    <i class="glyphicon glyphicon-arrow-left"></i>
    Детали займа
</a>