@using TrueMoney.Common.Extensions
@using TrueMoney.Common
@model TrueMoney.Models.VisaPaymentViewModel
@{
    ViewBag.Title = "Оплата";
}

<h2>@ViewBag.Title</h2>
<hr />
@if (Model.FormAction == "VisaLoan")
{
    <h4>Вы переводите деньги заёмщику (<b>@Model.DealOwnerName</b>) в размере <b>@Model.PaymentCount.Format() р.</b> в контексте заявки <b>№ @Model.DealId</b>.</h4>
}
else
{
    <h4>
        <p>
            Перевод денег кредитору (<b>@Model.OffererFullName</b>) в контексте заявки <b>№ @Model.DealId</b>. 
        </p>
        <p>
            Минимальная сумма платежа составляет <b>@Model.PaymentCount.Format() р.</b>
        </p>
        <p>
            Также с Вашего счёта будет списан налог за использования сервиса в размере <b>@((100 * NumericConstants.Tax).Format())% </b>от суммы платежа.
        </p>
    </h4>
}
@using (Html.BeginForm(Model.FormAction, "Payment", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.FormAction)
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m=>m.DealId)
        @Html.HiddenFor(m=>m.CanSetPaymentCount)
        @Html.HiddenFor(m => m.DealOwnerName)
        @Html.HiddenFor(m => m.OffererFullName)
        @if (Model.CanSetPaymentCount)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentCount, htmlAttributes: new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.PaymentCount, new { htmlAttributes = new { @id = "paymentCount", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PaymentCount, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(m => m.PaymentCount)
        }
        <div class="form-group">
            @Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValidBefore, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.ValidBefore, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValidBefore, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CvvCode, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.CvvCode, new { htmlAttributes = new { @class = "form-control", type="password", autocomplete = "new-password" } })
                @Html.ValidationMessageFor(model => model.CvvCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group important-information" id="finalPaymentCountBlock" style="display: none">
            Сумма с учетом комиссии составит <strong id="finalPaymentCount"></strong> р.
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" value="Оплатить" class="btn btn-primary"/>
                <a href="@Url.Action("Details", "Deal", new { id = Model.DealId })" class="btn btn-default">Отмена</a>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $("#paymentCount").change(calculateFinalAmount);
        calculateFinalAmount();
        function calculateFinalAmount() {
            var paymentCount = $("#paymentCount").val();
            if (paymentCount > 0) {
                var resultAmount = (paymentCount * (1 + @NumericConstants.Tax));
                $("#finalPaymentCount").text(+resultAmount.toFixed(2));
                $("#finalPaymentCountBlock").show();
            } else {
                $("#finalPaymentCountBlock").hide();
            }
        }
    </script>
}