@using TrueMoney.Common.Extensions
@model TrueMoney.Models.Offer.CreateOfferForm

@{
    ViewBag.Title = "Создать предложение на заявку";
}

<h2>@ViewBag.Title</h2>
<hr/>

@using (Html.BeginForm("CreateOffer", "Offer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <p>Вы собираетесь оставить своё предложение к заявке №@Model.DealId</p>
        <p>Максимально допустимый процент для этой заявки: @Model.DealRate.Format() %</p>
        @Html.HiddenFor(m => Model.DealId)
        @Html.HiddenFor(m => Model.OffererId)
        @Html.HiddenFor(m => Model.DealRate)
        <div class="form-group">
            @Html.LabelFor(model => model.InterestRate, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.InterestRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InterestRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Предложить</button>
            </div>
        </div>
    </div>
}
