@model TrueMoney.Models.Admin.InactiveUsersViewModel

@{
    ViewBag.Title = "Неактивные пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminList</h2>
@if (Model.Users != null && Model.Users.Any())
{
    <div>
        <h4>Список неактивны</h4>
        <hr/>
        <dl class="dl-horizontal"></dl>
    </div>
    foreach (var user in Model.Users)
    {
        <p>
            <div>userId: @user.User.Id Name: @user.User.FirstName</div>
            @Html.ActionLink("Details", "Details", new { id = user.User.Id }) |

            @if (!user.User.IsActive)
            {
                <div class="row">
                    <div class="col-md-8">
                        @using (Html.BeginForm("Activate", "Admin", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("userId", user.User.Id)
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Активировать" class="btn btn-default"/>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </p>

    }
}
