@using Microsoft.AspNet.Identity
@using TrueMoney.Common.Extensions
@model TrueMoney.Models.Admin.InactiveUsersViewModel

@{
    ViewBag.Title = "Список пользователей";
}

@section styles
{
    <style>
        table .glyphicon { cursor: pointer; text-decoration: none !important; font-size: 24px; margin-right: 5px;}
        .glyphicon-thumbs-down { color: red !important; }
        .glyphicon-thumbs-up { color: green !important; }
        .glyphicon-eye-close { visibility: hidden }
        td { vertical-align: middle !important; }
    </style>
}

@if (Model.Users != null && Model.Users.Any())
{<h2>Список пользователей</h2>

    <table class="table table-striped">
        <tr>
            <th>№</th>
            <th>ФИО (и рейтинг)</th>
            <th>@Html.DisplayNameFor(model => model.Users.First().User.CardNumber)</th>
            <th>Паспорт</th>
            <th>Действия</th>
        </tr>
        @foreach (var item in Model.Users.Where(x=>x.User.Id != User.Identity.GetUserId<int>()))
        {
            <tr>
                <td>@item.User.Id</td>
                <td class="@(@item.User.Rating > 0 ? "rating-Good" : @item.User.Rating < 0 ? "rating-Bad" : "")">
                    @item.User.LastName @item.User.FirstName @item.User.MiddleName
                    <strong>(@item.User.Rating)</strong>
                </td>
                <td>@item.User.CardNumber</td>
                <td>
                    <strong>№ @item.Passport.Number</strong>,
                    выдан @item.Passport.DateOfIssuing.Format()
                    <br/>@item.Passport.GiveOrganization
                </td>
                <td>
                    @if (item.Passport.ImagePath != null)
                    {
                        <a href="@item.Passport.ImagePath" class="glyphicon glyphicon-eye-open" title="Фото паспорта"></a>
                    }
                    else
                    {
                        <i class="glyphicon glyphicon-eye-close"></i>
                    }

                    <a class="glyphicon glyphicon-envelope" href="mailto:@item.User.Email" title="Отправить письмо"></a>

                    @if (!item.User.IsActive)
                    {
                        <a onclick="activate(@item.User.Id, true)" class="glyphicon glyphicon-thumbs-up" title="Активировать"></a>
                    }
                    else
                    {
                        <a onclick="activate(@item.User.Id, false)" class="glyphicon glyphicon-thumbs-down" title="Деактивировать"></a>
                    }
                </td>
        </tr>
        }
    </table>
}


@section scripts {
    <script>
        function loading(selector) {
            var element = $(selector || ".body-content");
            element.animate({ opacity: 0.2 }, 1000);
            element.css("pointer-events", "none");
        }

        $(document).ajaxStart(function() { loading(); });

        $(document).ajaxSuccess(function() { location.reload(); });

        $(document).ajaxError(function() { alert("упс, ошибочка"); location.reload(); });

        function activate(userId, makeActive) {
            $.ajax({
                url: '@Url.Action("Activate", "Admin")',
                data: { userId: userId, makeActive : makeActive },
                method: 'POST'
            });
            return false;
        }
    </script>
}