@model TrueMoney.Infrastructure.Entities.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FirstName</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

    </dl>
</div>
<p>

    @* review: пример где CurrentUser НЕ нужен на вьюхе, вместо него должно быть свойство Model.IsCanCreateLoan*@
    @if (ViewBag.CurrentUser.Id == Model.Id)
    {
        @Html.ActionLink("Создать заявку на займ", "Create", "Application")
    }
    @Html.ActionLink("В личный кабинет", "Index")
</p>
