@using Microsoft.AspNet.Identity;
@model TrueMoney.Models.User.UserDetailsViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>@Model.User.FirstName @Model.User.MiddleName @Model.User.LastName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.ActionLink("рейтинг", "Rating", "Home") 
            @Html.DisplayFor(model => model.User.Rating)
        </dd>
    </dl>
</div>
<p>
    @if (User.Identity.GetUserId<int>() == Model.User.Id)
    {
        @Html.ActionLink("Создать заявку на займ", "Create", "Deal")
    }
</p>
