@model IEnumerable<TrueMoney.Models.ViewModels.DealIndexViewModel>

@{
    ViewBag.Title = "Applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Deal.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deal.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deal.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deal.DayCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deal.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Deal.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deal.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deal.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deal.DayCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deal.Description)
        </td>
        <td>
            @if (item.IsCurrentUserOwner)
            {
                @Html.ActionLink("Посмотреть мою заявку", "Details", new { id = item.Deal.Id })
            }
            else
            {
                @Html.ActionLink("Детали", "Details", new { id = item.Deal.Id })
            }
        </td>
    </tr>
}

</table>
