@using TrueMoney.Common.Enums
@model TrueMoney.Models.Deal.DealIndexViewModel
@{
    ViewBag.Title = "Список открытых заявок";
}

<h2>@ViewBag.Title</h2>
<hr/>

<table class="table">
    <tr>
        <th>№</th>
        <th>@Html.DisplayNameFor(model => model.Deals.First().CreateDate)</th>
        <th>@Html.DisplayNameFor(model => model.Deals.First().Amount)</th>
        <th>@Html.DisplayNameFor(model => model.Deals.First().InterestRate)</th>
        <th>@Html.DisplayNameFor(model => model.Deals.First().OwnerFullName)</th>
        <th>@Html.DisplayNameFor(model => model.Deals.First().Description)</th>
        <th></th>
    </tr>
    @foreach (var deal in Model.Deals.Where(x=>x.DealStatus == DealStatus.Open))
    {
        <tr>
            <td>@deal.Id</td>
            <td>@deal.CreateDate</td>
            <td>@deal.Amount р.</td>
            <td>@deal.InterestRate %</td>
            <td>@deal.OwnerFullName</td>
            <td>@deal.Description</td>
            <td>
                @Html.ActionLink("Детали", "Details", new { id = deal.Id })
            </td>
        </tr>
    }
</table>

@if (Model.UserCanCreateDeal)
{
    @Html.ActionLink("Создать заявку", "Create", "Deal", routeValues: null, htmlAttributes: null)
}
