@using Microsoft.AspNet.Identity
@using TrueMoney.Common
@using TrueMoney.Common.Enums
@using TrueMoney.Common.Extensions
@using TrueMoney.Services.Helpers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (User.IsInRole(RoleNames.Admin))
            {
                <a href="@Url.Action("InactiveUsers", "Admin")" title="Личный кабинет">@User.Identity.GetUserName()</a>
            }
            else
            {

                <a href="@Url.Action("UserProfile", "User")" title="Личный кабинет">




                    @{ var info = GlobalHelper.Get(User.Identity.GetUserId<int>()); }

                    <div style="position: fixed; right: 5px; bottom: 5px;">
                        <div>IsActive                    - @info.IsActive                  </div>
                        <div>ActiveDealStatus            - @info.ActiveDealStatus          </div>
                        <div>ActiveDealBestOfferPercent  - @info.ActiveDealBestOfferPercent</div>
                        <div>ActiveDealOffersCount       - @info.ActiveDealOffersCount     </div>
                        <div>OffersInWaitCount           - @info.OffersInWaitCount         </div>
                        <div>OffersInProgressCount - @info.OffersInProgressCount </div>
                    </div>

                    @if (info.IsActive)
                    {
                        if (info.ActiveDealStatus != null)
                        {
                            var status = info.ActiveDealStatus.Value;
                            switch (status) // todo: расцветочка и иконочки
                            {
                                case DealStatus.Open:
                                    <span class="badge" title="Количество предложений по открытой заявке и наилучший процент">
                                        @info.ActiveDealOffersCount.Value | @if (info.ActiveDealBestOfferPercent != null)
                                                                            {
                                                                                @info.ActiveDealBestOfferPercent.Value.Format();
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>-</span>
                                                                            }%
                                    </span>
                                    break;

                                case DealStatus.WaitForLoan:
                                    <span class="badge" title="Активная заявка: @status.GetDescription()">
                                        wait2
                                    </span>
                                    break;

                                case DealStatus.WaitForApprove:
                                    <span class="badge" title="Активная заявка: @status.GetDescription()">
                                        wait1
                                    </span>
                                    break;

                                case DealStatus.InProgress:
                                    <span class="badge" title="Активная заявка: @status.GetDescription()">
                                        progress
                                    </span>
                                    break;

                                case DealStatus.Closed:
                                    <span class="badge" title="Все ваши заявки закрыты">
                                        closed
                                    </span>
                                    break;
                            }

                            if (info.OffersInProgressCount + info.OffersInWaitCount > 0)
                            {
                                <span>|</span>
                            }
                        }

                        if (info.OffersInWaitCount > 0)
                        {
                            <span class="badge" title="Количество займов, по которым от вас ожидается подтверждение и перевод денег">
                                @info.OffersInWaitCount
                            </span>
                        }
                        
                        if (info.OffersInProgressCount > 0)
                        {
                            <span class="badge" title="Количество займов, которые вам выплачивают заёмщики">
                                @info.OffersInProgressCount
                            </span>
                        }
                    }
                    else
                    {
                        <span class="badge" title="Администратор ещё не проверил ваш аккаунт">inactive</span>
                    }
                    &nbsp;
                    @User.Identity.GetUserName()
                </a>
            }
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
