@using Microsoft.AspNet.Identity
@using TrueMoney.Web.Models.ViewModel
@model TrueMoney.Infrastructure.Entities.MoneyApplication

@{
    ViewBag.Title = "Информация о заявлении " + Model.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Model.Id</h4>
    <hr/>
    @if (!Model.WaitForApprove)
    {

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Count)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Count)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DayCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DayCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            @if (this.ViewBag.CurrentUser.Id == Model.Borrower.Id)
            {
                //show info about offers only for application borrower
                foreach (var offer in Model.Offers)
                {
                    @Html.DisplayFor(x => offer)
                    @Html.ActionLink("Подтвердить предложение", "ApplyOffer", new { offerId = offer.Id, appId = Model.Id })
                }
            }
            else if (Model.Offers != null && Model.Offers.Any(x => x.Lender.Id == this.ViewBag.CurrentUser.Id))
            {
                var yourOffer = Model.Offers.FirstOrDefault(x => x.Lender.Id == this.ViewBag.CurrentUser.Id);
                <p>Вы предложили свои деньги в размере @Model.Count на @Model.DayCount дней под @yourOffer.Rate %</p>
                @Html.ActionLink("Отменить предложение", "RevertOffer", new { offerId = yourOffer.Id, appId = Model.Id })
            }
            else
            {
                @Html.Partial("~/Views/Partials/CreateOfferForm.cshtml", new CreateOfferForm { AppId = Model.Id })
            }
        </dl>
    }
    else
    {
        var mainOffer = Model.Offers.FirstOrDefault(x => x.Lender.Id == this.ViewBag.CurrentUser.Id && x.WaitForApprove);
        if (this.ViewBag.CurrentUser.Id == Model.Borrower.Id)
        {
            <text>wait for lender approve from user with id =
                @Model.Offers.FirstOrDefault(x => x.WaitForApprove).Lender.Id</text>
        }
        else if (mainOffer != null)
        {
            @Html.ActionLink("Дать взаймы", "FinishApp", new { offerId = mainOffer.Id, appId = Model.Id })
        }
        else
        {
            <text>sorry, borrower try to finish with user.id =
                @Model.Offers.FirstOrDefault(x => x.WaitForApprove).Lender.Id</text>
        }
    }
</div>
@if (this.ViewBag.CurrentUser.Id == Model.Borrower.Id)
{
    @Html.Action("Удалить заявку", "Delete", new { appId = Model.Id })
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
