@using AutoMapper.Execution
@model TrueMoney.Infrastructure.Entities.Loan

@{
    ViewBag.Title = "Заем " + Model.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsClosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseDate)
        </dd>

    </dl>
</div>
@if (ViewBag.CurrentUserId == Model.Lender.Id && Model.IsWaitForMoney)
{
    <h4>перевиди бабло челу</h4>
    <p>Visa - @Html.ActionLink("Перечислить займ", "Visa", "Payment", routeValues: new RouteValueDictionary(
             new
             {
                 paymentName = $"Перевод денег на счёт {Model.Borrower.FirstName}. Займ № {Model.Id}.",
                 paymentCount = Model.Count,
                 payForId = Model.Borrower.Id,
                 loadId = Model.Id
             }), htmlAttributes: null)
    </p>
}