@using TrueMoney.Infrastructure.Entities
@model TrueMoney.Web.Models.YouActivityViewModel

<div>
    <h4>Личный кабинет</h4>
    <h5>Ваш активный займ:</h5>
    @foreach (var item in Model.Loans.Where(x => !x.IsClosed))
    {
        @RenderLoan(item)
    }
    <h5>Ваши завершённые займы:</h5>
    @foreach (var item in Model.Loans.Where(x => x.IsClosed))
    {
        @RenderLoan(item)
    }
    ---------------------------<br/>
    <h5>Ваша активная заявка:</h5>
    @foreach (var item in Model.Deals.Where(x => !x.IsClosed))
    {
        @RenderDeal(item)
    }
    <h5>Ваши закрытые заявки:</h5>
    @foreach (var item in Model.Deals.Where(x => x.IsClosed))
    {
        @RenderDeal(item)
    }

    @if (ViewBag.IsActive)
    {
        if (!ViewBag.IsHaveOpenDealOrLoan)
        {
            @Html.ActionLink("Создать заявку", "Create", "Deal", routeValues: null, htmlAttributes: null)<br/>
        }
        else
        {
            <p>Завершите текущий займ и сможете сделать ещё заявку</p>
        }
    }
    else
    {
        <p>Ожидайте подтверждение регистрации и тогда сможете создать заявку</p>
    }

    ---------------------------<br />
    <h5>Ваши активные предложения:</h5>
    @foreach (var item in Model.Offers.Where(x => !x.IsClosed))
    {
        @RenderOffer(item)
    }
    <h5>Ваши закрытые предложения:</h5>
    @foreach (var item in Model.Offers.Where(x => x.IsClosed))
    {
        @RenderOffer(item)
    }

    ---------------------------<br />
    @Html.ActionLink("Список всех заявок", "Index", "Deal", routeValues: null, htmlAttributes: null)<br />
</div>

@helper RenderLoan(Loan loan)
{
    <p>
        <strong>@loan.Id</strong> - @loan.Count - @loan.Rate
        @Html.ActionLink("Детали", "Details", "Loan", routeValues: new { id = loan.Id }, htmlAttributes: null)<br />
    </p>
}

@helper RenderOffer(Offer offer)
{
    <p>
        <strong>@offer.Id</strong> - @offer.Rate
        @Html.ActionLink("Просмотреть заявку", "Details", "Loan", routeValues: new { id = offer.Deal.Id }, htmlAttributes: null)<br />
    </p>
}

@helper RenderDeal(Deal deal)
{
    <p>
        <strong>@deal.Id</strong> - @deal.Count - @deal.Rate
        @Html.ActionLink("Просмотреть заявку", "Details", "Deal", routeValues: new { id = deal.Id }, htmlAttributes: null)<br />
    </p>
}